body .view-file-box:hover .view-file-box__action-holder {padding-bottom: 0;}
body .view-file-box__action-holder {opacity: 1; text-align: left;}
.view-file-box__action-item.button-add-to-favorites {position: absolute; right: 0;}
.view-file-box__action-item.button-share {opacity: 0;}
.view-file-box__action-item.button-download {opacity: 0;}

body .view-file-box:hover .view-file-box__action-item.button-share {opacity: 1;}
body .view-file-box:hover .view-file-box__action-item.button-download {opacity: 1;}


body .file-thumb_image:hover .file-thumb__action-box {padding-bottom: 0;}
body .file-thumb__action-box {opacity: 1; text-align: left; display: block;}
.file-thumb__action-item.button-add-to-favorites {position: absolute; right: 0;}
.file-thumb__action-item.button-share {opacity: 0;}
.file-thumb__action-item.button-download {opacity: 0;}

body .file-thumb_image:hover .file-thumb__action-item.button-share {opacity: 1;}
body .file-thumb_image:hover .file-thumb__action-item.button-download {opacity: 1;}


.fav-panel__tab-icon.extra-notify-icon:after {content: ''; position: absolute; right: 0; top: 0; background: #E74C3C; border-radius: 5px; width: 5px; height: 5px;}

.download-all-images {background: #E74C3C url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABJSURBVHgB3ZLBCQAgCEW/0SBtlk1WmzSaGd0lDIJ6FxF5HxQBAxHJ8KAiy6LCg4rtw4CoTdLa92MwDwkiKgE3cO/9lnj8nmzNB53vfe/01KXfAAAAAElFTkSuQmCC) center right 35px no-repeat; border-radius: 30px; position: absolute; padding: 0 55px 0 35px; height: 44px; bottom: 20px; right: 20px; font-size: 15px; line-height: 44px; text-align: center; font-weight: bold; color: #fff;}
.download-all-images:hover {color: #fff;}


.button-add-to-favorites.button-circle-xl:after {background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyAyMCI+PHBhdGggZmlsbD0iI2ZjODAyMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIgN2E4Ljk2NiA4Ljk2NiAwIDAwMi44NSA2LjU2bDEuNjIyIDYuMDdhLjI4Ni4yODYgMCAwMS0uNDMxLjMyTDEwIDE2LjA5bC02LjA0MiAzLjg2YS4yODcuMjg3IDAgMDEtLjQzMi0uMzJsMS44ODItNy4wNEwuMDk0IDcuOTRhLjMxLjMxIDAgMDEuMTY1LS41NGw2LjktLjQ4TDkuNzMuMThhLjI4My4yODMgMCAwMS41MzMgMGwxLjkxNiA1LjAyQTkuMDA3IDkuMDA3IDAgMDAxMiA3eiIvPjxwYXRoIGZpbGw9IiMzYzNjM2MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIxIDEzYTYgNiAwIDExNi02IDYgNiAwIDAxLTYgNnptNC03LjAxaC0zVjIuOTdoLTJ2My4wMmgtMy4wMjV2MS45OUgyMFYxMWgyVjcuOThoM1Y1Ljk5eiIvPjwvc3ZnPg==) 50% no-repeat !important;}