body .sticky-progress-bar {top: 0; left: 0; width: 100%; position: fixed; z-index: 20;}
body .sticky-progress-bar div {height: 4px; left: 0; top: 0; background: #93D290;}
body .product-single__meta .add-to-cart {width: 90%; left: 5%; bottom: 0; position: fixed; z-index: 20;}