@media screen and (max-width: 500px) {
    #shopify-section-product__main .on-mobile-btn-wrapper {
        display: block;
    }

    .product a.on-mob-btn s {text-decoration: line-through;}

    .product a.on-mob-btn.blue {
        font-family: 'Roboto', sans-serif;
        display: block;
        text-transform: uppercase;
        font-size: 14px !important;
        line-height: 34px;
        border-radius: 100px;
        height: auto;
        font-weight: bold;
        color: #fff;
        background-color: #11415F;
    }

    .product a.on-mob-btn.yellow {
        font-family: 'Roboto', sans-serif;
        display: block;
        text-transform: uppercase;
        background-color: #F2B413;
        letter-spacing: 0.025em;
        color: #000000;
        font-size: 14px !important;
        margin-bottom: 5px;
        border-radius: 100px;
        height: auto;
        font-weight: bold;
    }
    .product a.on-mob-btn.yellow span{
        font-size: 11px;
        display: block;
    }

    .experiment-buttons {
        padding: 0 15px;
    }

    .slider-12-weeks {
        padding-bottom: 15px;
    }

    .slider-12-months {
        padding-bottom: 15px;
    }
}